:root {
  --color-primary: #fff;
  --color-secondary: #f0f0f0;
  --color-text: #00994d;
  --color-pagination: #66b2ff;
  --color-darker: #5c5c5c;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  margin: 50px;
  font-family: "Inter", sans-serif;
}
.btn {
  border: 1px solid var(--color-darker);
  background-color: var(--color-secondary);
  color: #000;
  outline: none;
  border-radius: 1px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  white-space: nowrap;
  text-align: center;
  width: 100px;
}
.table-scroll {
  max-height: 100%;
  max-width: 100%;
  overflow: auto;
  position: relative;
}
.modal {
  position: absolute;
  background: var(--color-primary);
  top: 200px;
  left: 350px;
  border: 1px solid #a5a4a4;
  border-radius: 5px;
  outline: none;
  padding-bottom: 20px;
}
.tbl-modal {
  color: black;
}
.tbl-modal td:first-child {
  text-align: right;
  padding-right: 8px;
}
.tbl-modal td:nth-child(2) {
  color: var(--color-text);
}

.modal .head {
  background: #5c5c5c;
  color: black;
  text-align: center;
  overflow: hidden;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 5px;
}

.modal img {
  margin: 20px auto;
  width: 80px;
}
.centered {
  display: block;
  margin: auto;
}
nav ul li {
  display: inline-block;
  list-style-type: none;
  margin-right: -4px;
  padding: 10px;
}
nav ul li {
  color: #66b2ff;
}
nav ul li.active {
  color: #000;
}

.modal .content {
  margin: 20px;
}

.tbl-users {
  border-collapse: collapse;
  color: var(--color-text);
  text-align: center;
}
.tbl-users th,
.tbl-users td {
  padding: 5px 30px;
}
.tbl-users tr:nth-child(even) td {
  background: var(--color-secondary);
}
.tbl-users tr:nth-child(odd) td {
  background: var(--color-primary);
}
.tbl-users th {
  background: var(--color-darker);
  color: var(--color-primary);
}
.tbl-users,
.tbl-users th,
.tbl-users td {
  border: 1px solid #a5a4a4;
}

.tbl-users {
  white-space: nowrap;
  table-layout: fixed;
}
.tbl-users thead th {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 25vw;
}

.tbl-users tbody td:first-child {
  position: relative;
}
.tbl-users thead th:first-child {
  position: sticky;
  left: 0;
  z-index: 2;
}
.tbl-users tbody td:first-child {
  position: sticky;
  left: 0;
  z-index: 1;
}

.clickable:hover {
  cursor: pointer;
}
