:root {
  --color-primary: #fff;
  --color-secondary: #f0f0f0;
  --color-text: #00994d;
  --color-pagination: #66b2ff;
  --color-darker: #5c5c5c;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  margin: 50px;
  font-family: "Inter", sans-serif;
}
.btn {
  border: none;
  background-color: var(--color-secondary);
  color: #000;
  outline: none;
  border-radius: 1px;
  padding: 2rem 3rem;
  text-transform: uppercase;
  cursor: pointer;
  white-space: nowrap;
  text-align: center;
}
.table-scroll {
  max-height: 120px;
  max-width: 250px;
  overflow: auto;
  position: relative;
}
.modal {
  position: absolute;
  top: 200px;
  left: 350px;
  border: 1px solid #a5a4a4;
  border-radius: 5px;

  outline: none;
}

.modal .head {
  background: #5c5c5c;
  color: black;
  text-align: center;
  overflow: hidden;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 5px;
}
nav ul li {
  display: inline-block;
  list-style-type: none;
  margin-right: -4px;
  padding: 10px;
}
nav ul li {
  color: #66b2ff;
}
nav ul li.active {
  color: #000;
}

.modal .content {
  margin: 40px;
}

table {
  border-collapse: collapse;
  color: var(--color-text);
  text-align: center;
}
th,
td {
  padding: 5px 30px;
}
tr:nth-child(even) {
  background: var(--color-secondary);
}
tr:nth-child(odd) {
  background: var(--color-primary);
}
th {
  background: var(--color-darker);
  color: var(--color-primary);
}
table,
th,
td {
  border: 1px solid #a5a4a4;
}

.btn-block {
  display: block;
  margin: 2rem auto;
}

table {
  white-space: nowrap;
  table-layout: fixed;
  max-height: 120px;
  max-width: 250px;
}
table thead th {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 25vw;
}

table tbody td:first-child {
  position: relative;
}
table thead th:first-child {
  position: sticky;
  left: 0;
  z-index: 2;
}
table tbody td:first-child {
  position: sticky;
  left: 0;
  z-index: 1;
}

.clickable:hover {
  cursor: pointer;
}
